<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoppy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<style>
    .product-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }

    .product-card {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .product-card img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
    }

    .product-name {
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 16px;
    }

    .product-size,
    .product-category {
        margin: 0;
        font-size: 14px;
        color: #888;
    }

    .product-price {
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 18px;
        font-weight: bold;
        color: #333;
    }

    .text-bg-info {
        background-color: #17a2b8;
    }
</style>

<body>
    <h2 class="text-bg-info p-1 text-white w-100 text-center h6 position-absolute top-0 start-0">
        <b>Order the best clothes <span class="text-black">ever!</span></b>
    </h2>

    <header class="mb-5">
        <nav class="navbar navbar-expand-lg bg-body-secondary p-3 mt-4 mb-5">
            <div class="container-fluid">
                <a class="navbar-brand" id="LogName" href="/"><b>Shoppy</b> </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="/home/disover">Discover</a>
                        <a class="nav-link ml-2" href="/home/cart">Cart <%= numOfTotal ? numOfTotal : (0) %></a>
                        <a class="nav-link ml-2" href="/home/logout">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main class="mb-5 mx-3">
        <section class="container text-center mt-5">
            <div class="row">
                <div class="col my-auto">
                    <h1>Welcome <%= name ? name : "" %>
                    </h1>
                </div>
                <div class="col">
                    <img class="w-auto" src="../assists/orderNow.png" alt="Order now">
                </div>
            </div>
        </section>
        <div class="product-grid">
            <% for(let i=0; i < clothes.length; i++) {%>

                <div class="product-card">
                    <img src="<%= clothes[i].img %>" alt="Product Image" />
                    <h2 class="product-name">
                        <%= clothes[i].name %>
                    </h2>
                    <h4 class="product-size">
                        Size: <%= clothes[i].size %>
                    </h4>
                    <h2 class="product-price">
                        $<%= clothes[i].price %>
                    </h2>
                    <h4 class="product-category">
                        Category: <%= clothes[i].cato %>
                    </h4>
                    <h4>(<%= clothes[i].numOfItems ? clothes[i].numOfItems : 0 %>)</h4>
                    <form action="/home/addItem" method="post">
                        <input type="hidden" name="item_id" value="<%= clothes[i].clothes_id %>" />
                        <input type="hidden" name="name" value="<%= clothes[i].name %>" />
                        <input type="hidden" name="size" value="<%= clothes[i].size %>" />
                        <input type="hidden" name="price" value="<%= clothes[i].price %>" />
                        <input type="hidden" name="cato" value="<%= clothes[i].cato%>" />
                        <input type="submit" class="btn mt-3 btn-warning" value="Add to Cart" />
                    </form>
                </div>
                <% } %>
        </div>

    </main>

</body>

</html>